<!--Presentación-->
<div class="hero p-4 is-purple is-spaced">
    <div class="container" style="width:100%; flex-direction:column;"></div>
    <h1 class="title-data text-white">ABOUT ME</h1>
        <p class="desc">Hello, my name is Axel Aranibar, from a very young age I liked the computer and among the development world in 2017. At that time I like the development of web pages and the following year in spite of studying on my own about user experience. I like meeting new people and learning all day long.</p>

    <div class="columns slider-3 sl-300" style="overflow:hidden;">

            <div class="column"><div class="project">
                <img src="../../assets/Designer/IMG_20200622_113911_315.jpg" />
                <div class="desc">Explore the Earth</div>
            </div></div>
            <div class="column"><div class="project">
                <img src="../../assets/Designer/parte 1.jpg" />
                <div class="desc">Design the netflix app.</div>
            </div></div>
            <div class="column"><div class="project">
                <img src="../../assets/Designer/Primer.jpg" />
                <div class="desc">Design, nike stores.</div>
            </div></div>
            <div class="column"><div class="project">
                <img src="../../assets/Designer/Sin título-1.jpg" />
                <div class="desc">Ps4 controller store.</div>
            </div></div>
            <div class="column"><div class="project">
                <img src="../../assets/Designer/UX Designer  _ AxelAranibar on Instagram_ _Concept(JPG).jpg" />
                <div class="desc">Redesign google assistant.</div>
            </div></div>
            <div class="column"><div class="project">
                <img src="../../assets/Designer/hfh9rhfu9er.jpg" />
                <div class="desc">Redesign the free market app.</div>
            </div></div>
            <div class="column"><div class="project">
                <img src="../../assets/Designer/Flims.png" />
                <div class="desc">FlimsApp, movies</div>
            </div></div>
        </div>
    </div>

<!--Card-1-->
  <div class="hero is-red p-4 is-spaced">
    <div class="container" style="width:100%; flex-direction:column;">
       <h1 class="title-data text-white">WEB DEV </h1>
       <p class="desc">Experience developing websites, working on frontend  since 2017.</p>
       <div class="columns slider" style="overflow:hidden;">

           <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/css3-logo.png" alt="Css"></figure></div></div>
           <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/Angular_full_color_logo.svg.png" alt="Angular"></figure></div></div>
           <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/68747470733a2f2f76352e676574626f6f7473747261702e636f6d2f646f63732f352e302f6173736574732f6272616e642f626f6f7473747261702d6c6f676f2d736861646f772e706e67.png" alt="Boostraps"></figure></div></div>
           <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/HTML5_Logo_512.png" alt="Html"></figure></div></div>
           <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/flat,750x1000,075,f.u1.jpg" alt="Nodejs + Socket.io"></figure></div></div>
           <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/js.png" alt="Css"></figure></div></div>
        </div>
    </div>
</div>
<!--Card-2-->
<div class="hero is-dark p-4 is-spaced">
            <div class="container" style="width:100%; flex-direction:column;">
            	<h1 class="title-data text-white">PROTOTYPE</h1>
                <p class="desc">Prototype experience since 2019. </p>
        		<div class="columns slider" style="overflow:hidden;">

                    <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/figma-682083.webp" alt="Figma"></figure></div></div>
                    <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/website-cropped-v2.png" alt="Xd"></figure></div></div>
                    <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/zeplin-logo.png" alt="JavaScript"></figure></div></div>
                    <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/dr5fzoqmfdjxuco6reyh.png" alt="jQuery"></figure></div></div>
                    <div class="column"><div class="language"><figure class="logo"><img src="../../assets/logo/fde8bce211af2f9d46443ab8f02a37f7_photoshop-logo-png-images-free-download_769-828.png" alt="PHP"></figure></div></div>
                </div>
         </div>
    </div>
<!-- Navbar content -->
<nav class="navbar navbar-dark bg-dark" >
    <p class="mx-auto" style="width: 200px;">axelaranibar3@gmail.com</p>
</nav>